{% set mainClasses = 'govuk-!-padding-top-0' %}
{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - Other personal contacts" %}
{% set NOT_ENTERED = 'Not entered' %}

{% block content %}
  {#  {{ govukBackLink({ text: "Back", href: '/' }) }} #}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-row profile-header govuk-!-margin-bottom-2">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-0">{{ name | possessive }} other personal contacts</h1>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <a class="float-right" href='#TODO'>Close</a>
      </div>
    </div>
    {% set cls = cycler("mid", "end") %}
    <div class="govuk-grid-row">
      {% for contact in displayContacts %}

      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">{{ contact.firstName }} {{ contact.lastName }}</h2>
        <p class="govuk-body-m govuk-!-margin-top-0">{{ contact.relationshipDescription }}</p>
        {% if contact.phoneNumber %}
          <p class="govuk-body-m govuk-!-margin-top-0">{{ contact.phoneNumber | safe }}</p>
        {% endif %}
        {% set rows = [
          { key: { text: "Email" },         value: { text: (contact.email or NOT_ENTERED) | safe } },
          { key: { text: "Main address" },  value: { text: (contact.address or NOT_ENTERED) | safe } }
        ] %}
        {% if contact.landline %}
          {% set rows = (rows.push({ key: { text: "Address phone" }, value: { text: contact.landline | safe } }), rows) %}
        {% endif %}
        {% if contact.addressType %}
          {% set rows = (rows.push({ key: { text: "Address type" },  value: { text: contact.addressType | safe } }), rows) %}
        {% endif %}

        {# Omit line below last row of contact details#}
        {% set rows = (rows | last | setAttribute('classes', "govuk-summary-list__row--no-border"), rows) %}

        {{ govukSummaryList({ rows: rows }) }}
      </div>
      {# Omit line below last contact #}
      {% if cls.next() == "end" and not loop.last %}
    </div>
    <hr />
    <div class="govuk-grid-row">
      {% endif %}
      {% else %}
        <p>No contacts entered.</p>
      {% endfor %}

    </div>
  </div>

{% endblock %}
